.btn {
  color: $white;
  border-radius: $bdr-sm;
  @include flexy(center, center);
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    box-shadow: $ambient-light;
  }
}

.btn-primary {
  background-color: $primary;
  color: $white;
}

.btn-outline {
  border: 2px solid $primary;
  color: $primary;
}

.btn-lg {
  width: 215px;
  height: 50px;
  font-size: $body-md;
}
